*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 90%;
    max-height: 11px;
    margin: auto;
}
.main-head{
    background-color: rgba(45, 7, 157, 0.914);
     color: white;
     text-align: center;
     padding: 15px;
     border-radius: 8px;
     margin-top: 20px;
     margin-bottom: 20px;
}
.about{
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 6px black;
}
img{
    width: 250px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}
p{
    text-align: justify;
    margin-top: 10px;
}

.achie{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 0 6px black;;
}
ul{
    padding-left: 20px;
    line-height: 2;
}
footer{
    margin-top: 30px;
    background-color: rgba(45, 7, 157, 0.914);
     color: white;
     text-align: center;
     padding: 12px;
     border-radius: 8px;
     font-size: 14px;
}
